html, body {
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.addreview {
    text-align: right;
    line-height: 30px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.bar {
    width: 100%;
}

@media (max-width: 768px) {
    .review-movie-details {
        text-align: center;
    }
}

.reviewcontent > h3 {
	color: #242a2c;
	font-weight: bold;
}

.reviewcontent > p {
	font-size: 15px;
}

.search select {
    max-width: 150px;
    display: inline-block;
}

.borderless thead > tr > th, .borderless tbody > tr > th, .borderless tfoot > tr > th, .borderless thead > tr > td, .borderless tbody > tr > td, .borderless tfoot > tr > td {
    border: none;
}

.card {
    box-shadow: 0 1px 2px #aaa;
    background: white;
    color: #407F40;
    border-radius: 3px;
    margin: 1rem 0 1rem 0;
    user-select: none;
    padding: 0px !important;
    animation: fly-in-from-left .5s 1s ease both;
    transform-origin: top left;
    cursor: pointer;
}

    .card:hover {
        box-shadow: 0 7px 9px #aaa;
    }

        .card:hover > .my-img-thumbnail {
            outline: 2px solid #242a2c;
        }

.rating {
    background-color: #242a2c;
    width: 100%;
    color: white;
    font-size: 20px;
    margin: 10px;
}

.rating {
    unicode-bidi: bidi-override;
    text-align: center;
    direction: rtl;
}

    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
		color: yellow;
    }

.desi {
    background-color: #242a2c;
    width: 100%;
    color: white;
    font-size: 20px;
    margin: 10px;
}

.center {
    text-align: center;
}

.errorlabel {
    color: red;
    font-weight: normal;
}

.errorlabel:before {
    content: "*";
}


.desi {
    unicode-bidi: bidi-override;
    text-align: center;
    direction: rtl;
}

    .desi > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}


.spantrue::before {
    content: "\2605";
    position: absolute;
}

.desi {
    background-color: #407F40;
}

.login-border {
    border-left: 2px solid #f1f1f1;
}

@media (max-width: 768px){
    .login-border{
        border-top: 2px solid #f1f1f1;
        margin-top: 20px;
    }
}

@media(max-width: 470px){
    .makedefault{
        margin-top: 10px;
    }
}


.form-controls {
    max-width: 250px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    
}

.form-controls-label{
    max-width: 250px;
    color: #407F40;
}

.form-controls > span{margin: 0;}

.card:after {
    position: absolute;
    font-size: .9rem;
    top: 1.5rem;
    right: 1rem;
    border: thin solid gray;
    color: gray;
    width: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 50%;
    pointer-events: none;
}

.details {
    padding-right: 15px;
    padding-left: 15px;
}

    .details > p {
        color: #242a2c;
        font-size: 12px;
    }

        .details > p > span {
            font-weight: bold;
        }

.my-img-thumbnail {
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.my-img-thumbnail {
    height: 160px;
}

.my-img-thumbnail {
    width: 100%;
}

@media (max-width: 768px) and (min-width: 480px) {
    .my-img-thumbnail {
        width: auto;
    }
}

.ratingclass > p {
    white-space: inherit;
    overflow: auto;
}

.scrollingcontent{
}

.details > h4 {
    white-space: nowrap;
    overflow: hidden;
}
.reviewcontent {
    margin-top: 20px;
}
.subheading{
text-align: center;
}
.normalsubheading {
}
.normalsubheading > h2{
    font-family: LogoFont;
    font-size: 30px;
    font-style: italic;
    color: #407F40;
}

.subheading > h2{
    font-family: LogoFont;
    font-size: 30px;
    font-style: italic;
    color: #407F40;
}
.details > p {
    white-space: nowrap;
    overflow: hidden;
}
.ratingclass > p{
    white-space: initial;
    overflow: auto;
}

.search {
    padding-bottom: 25px;
    margin: 0 auto;
    text-align: center;
}


.wrapper {
    border: 1px solid #aaa;
    display: inline-block;
    border-radius: 2px;
    position: relative;
}

.card {
    height: 400px;
}

.ratingclass {
    text-align: center;
    padding-left: 0px;
}

@media (min-width: 768px) {
    .wrapper {
        width: 350px;
    }
	
}

@media (min-width: 992px){
	.subheading {
		text-align: right;
	}
}

@media (max-width: 760px) {
    .logo-image {
        text-align: center;
        margin: 0 auto;
    }
}

.logo-image {
    padding-left: 10px;
}

.userinfo {
    text-align: center;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .logo-image {
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .userinfo > select {
        float: right;
    }
}

.userinfo > select {
    max-width: 150px;
    text-align: center;
    color: white;
    margin: 0 auto;
    border: none;
    background-color: #407F40;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.userinfo a, a:hover {
    color: white;
    font-size: 14px;
}

.logo {
    font-family: LogoFont;
    font-size: 20px;
    padding: 5px;
    color: white;
}

.body-content {
    padding-bottom: 100px;
    min-height: 100%;
}

.container {
}

.container-fluid {
    padding: 0px;
    background-color: #5cb85c;
    margin-bottom: 25px;
}



.desi-footer {
    background-color: #242a2c;
    min-height: 60px;
    margin-top: -60px;
    clear: both;
    line-height: 50px;
    position: relative;
}


    .desi-footer p {
        font-size: 12px;
        color: gray;
    }

    .desi-footer span {
        font-weight: bold;
        font-size: 11px;
        float: right;
    }

@media (max-width: 768px) {
    .desi-footer {
        text-align: center;
    }

        .desi-footer span {
            float: none;
        }
}

@font-face {
    font-family: 'LogoFont';
    src: url('../fonts/Exo-SemiBold.otf');
}

.wrapper > input,
button {
    background-color: transparent;
    border: 0;
}

.wrapper > button {
    position: absolute;
    right: 0;
    top: 0;
}

.wrapper .btn-sm {
    border-radius: 0px;
    line-height: 1.95;
}

.wrapper > input {
    padding-right: 30px; /* button padding */
}


/*Read More Trigger*/

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
}

a.forgot {color: #1f38ff;}
a.forgot:hover {color: #000848;}